DOMAIN=
DOCKER_GID=
PROXY_HOST=
NFS_HOST=
CLOUDFLARE_TUNNEL_TOKEN=

TWINGATE_NETWORK=
TWINGATE_ACCESS_TOKEN=
TWINGATE_REFRESH_TOKEN=

AUTHENTIK_PG_PASS=GENERATE USING $(openssl rand -base64 36 | tr -d '\n')
AUTHENTIK_SECRET_KEY=GENERATE USING $(openssl rand -base64 60 | tr -d '\n')w

GHOST_DB_ROOT_PASS=GENERATE USING $(openssl rand -base64 36 | tr -d '\n')
GHOST_DB_PASS=GENERATE USING $(openssl rand -base64 36 | tr -d '\n')
GHOST_SMTP_HOST=
GHOST_SMTP_PORT=
GHOST_SMTP_USER=
GHOST_SMTP_PASS=
